@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #f7f8fa;
  font-family: 'Poppins', sans-serif;
  color: #46444c;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  html, body {
    font-size: 13px;
  }
}

.title {
  font-size: 42px;
  font-weight: 500;
  color: #5a45ff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: underline;
  color: #5a45ff;
}

.rs__cell.rs__time {
  align-items: baseline !important;
}

[aria-label='Agenda'], .MuiButtonBase-root svg[data-testid="ViewAgendaIcon"] {
  display: none !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper:not(:has(> ul)) {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}


.css-3bmhjh-MuiPaper-root-MuiPopover-paper .MuiBox-root {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
